# Python - Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Ignore build folder in Client
Client/build/

# OS files
.DS_Store
Thumbs.db

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Linux
*~
*#

# Jupyter Notebook
.ipynb_checkpoints/

# VSCode
.vscode/

# PyCharm
.idea/

# Environments
.env
.venv
venv/
ENV/

# MyPy
.mypy_cache/
.dmypy.json

# Pyre
.pyre/